.hero {
    height: 100vh;
    background: #000;
    align-items: center;
    justify-content: center;

    /*leve brilho no fundo*/
    box-shadow: inset 0 0 120px #3802318f;

    display: flex; /* necessário p/ alinhar no centro em todas telas */
}

/*Título RUSH*/
.hero-logo {
    width: 550px;
    height: 400px;
    max-width:99%;
    filter: drop-shadow(0 0 14px #6A0DAD)
            drop-shadow(0 0 65px #380231);
    margin: 0 0 10px;
}

.hero-subtitle {
    margin-top: 5px;
    font-size: 1.55rem;
    font-weight: 400;
    letter-spacing: 1px;

    background: linear-gradient(90deg, #e0baff, #b468ff);
    -webkit-background-clip: text;
    color: transparent;

    text-shadow:
        0 0 12px #6A0DAD55,
        0 0 25px #38023166;
}

.hero-btn {
    margin-top: 15px;
    padding: 18px 45px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 14px;
    border: none;

    background: linear-gradient(90deg, #6A0DAD, #b832f5);
    color: #fff;

    box-shadow:
        0 0 5px #b832f5aa,
        0 0 32px #6A0DADaa;

    transition: .25s ease-in-out;
}

.hero-btn:hover {
    background: linear-gradient(90deg, #b832f5, #6A0DAD);
    transform: translateY(-4px) scale(1.02);
    box-shadow:
        0 0 10px #b832f5,
        0 0 20px #6A0DAD;
}

/* Tablets (até 1024px) */
@media (max-width: 1024px) {

    /* CORREÇÃO IMPORTANTE */
    .hero {
        height: auto;      /* evita o bug do 100vh */
        padding: 100px 20px; /* centraliza visualmente */
    }

    .hero-logo {
        width: 420px;
        height: auto;
        margin-bottom: 5px;
    }

    .hero-subtitle {
        font-size: 1.35rem;
    }

    .hero-btn {
        padding: 16px 40px;
        font-size: 1.15rem;
    }
}

/* Celulares grandes (até 768px) */
@media (max-width: 768px) {
    .hero {
        padding: 80px 20px;
    }

    .hero-logo {
        width: 330px;
        height: auto;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

    .hero-btn {
        width: 85%;
        padding: 14px 28px;
        font-size: 1.1rem;
    }
}

/* Celulares pequenos */
@media (max-width: 480px) {
    .hero {
        padding: 70px 20px;
    }

    .hero-logo {
        width: 270px;
        height: auto;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-btn {
        width: 90%;
        font-size: 1rem;
        padding: 12px 24px;
    }
}
